@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;600&display=swap');

:root {
  --clr-background: #e4e4f2;
  --clr-text: #353340;
  --clr-light-text: #a5a4bf;
  --clr-accent: #78778c;
  --clr-blue: #4d60ff;

  --ff-main: 'Schibsted Grotesk', sans-serif;

  --fs-regular: 1.2rem;
  --fs-medium: 1.8rem;
  --fs-large: 2.5rem;

  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--clr-background);
  font-family: var(--ff-main);
  font-size: var(--fs-regular);
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

a {
  color: var(--clr-blue);
  transition: color 450ms ease;
}

a:where(:hover, :focus-visible) {
  color: var(--clr-text);
}

.container {
  width: min(50%, 800px);
  margin: 2rem auto;
  /* background: crimson; */
}

.sr-only {
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  top: -100%;
  left: -100%;
}

.flex {
  display: flex;
  justify-content: var(--justify, center);
  align-items: center;
  padding-block: 0.5rem;
}

header {
  background-color: var(--clr-accent);
  color: var(--clr-light-text);
}

header h1 {
  font-size: var(--fs-large);
  margin: 0;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

form input {
  flex-grow: 1;
  width: 100%;
  margin-right: 1rem;
  padding: 0.25rem 0.25rem 0.75rem 0.25rem;
  font-size: var(--fs-medium);
  margin-bottom: 1rem;
  border: none;
  border-bottom: 3px solid var(--clr-blue);
  background-color: var(--clr-background);
}

.search-item {
  margin-right: 0;
}

form button {
  width: var(--fs-large);
  height: var(--fs-large);
  font-size: var(--fs-medium);
  padding: 0.15rem;
  color: var(--clr-blue);
  background: var(--clr-background);
  border: none;
  cursor: pointer;
  transition: color 450ms ease;
}

form button:where(:hover, :focus-visible) {
  color: rgb(10, 124, 10);
}

.item-list {
  margin: 0;
  /* background: steelblue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.item {
  --justify: space-between;
  font-size: var(--fs-medium);
  background-color: hsla(243, 8%, 51%, 0.315);
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

input[type='checkbox'] {
  width: var(--fs-large);
  height: var(--fs-large);
  margin-right: 1rem;
  margin-left: 0;
}

.item label {
  flex-grow: 1;
}

.item label:where(:hover, :focus-visible) {
  text-decoration: underline;
}

.item .icon {
  color: var(--clr-blue);
  font-size: var(--fs-large);
  cursor: pointer;
  transition: color 450ms ease;
}

.item .icon:where(:hover, :focus-visible) {
  color: rgb(184, 2, 2);
}

main .empty-message {
  font-size: var(--fs-medium);
  color: var(--clr-blue);
  margin-top: 3rem;
  text-align: center;
}

footer {
  margin-bottom: 1rem;
  border-top: 2px solid var(--clr-light-text);
}

footer .container {
  --justify: space-between;
}

@media screen and (max-width: 1200px) {
  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer p:last-of-type {
    margin-top: 0.75rem;
  }
}

footer p {
  margin: 0;
}
